@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
  --color-primary: #4b8fe2;
  --color-background-light: #f6f7f8;
  --color-background-dark: #121820;
  
  --font-sans: "Spline Sans", sans-serif;
  --font-display: "Spline Sans", sans-serif;
  
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}
